@charset "utf-8";

body {
  background-color:#F7F7F7;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック';
}

a {
  color:#03BECD;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

.header {
  padding-top:10px;
  background:#0f0f0f;
  background: -moz-linear-gradient(top, #0f0f0f, #3f3f3f);
  background: -webkit-gradient(linear, center top, center bottom, from(#0f0f0f), to(#3f3f3f));
  border-bottom:1px solid #aaaaaa;
  min-height:80px;
  -moz-box-shadow:0 1px 0px #999999;
  -webkit-box-shadow:0 1px 0px #999999;
  box-shadow:0 1px 0px #999999;
}

.header_inner {
  width:940px;
  margin-right:auto;
  margin-left:auto;
  padding-top:10px;
  position:relative;  
}

.logo {
  position:absolute;
  top:0px;
  height:135px;
  width:290px;
  background: url(../img/logo_mog2dev.png);
  -moz-transform: rotate(-4deg);  
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.header p {
  display:block;
  color:#fff;
  font-style:italic;
  text-align:right;
  text-shadow: 0px 1px 1px #fff, 0 -1px #444444;
}

.outerbox {
  margin:70px 0 100px 0;
}

.contents {
  margin-right:auto;
  margin-left:auto;  
  width:940px;
}

.profile {
  padding:20px;
  background-color: #E7EEF1;
  -moz-box-shadow:0px 3px 3px #999;
  -webkit-box-shadow:0px 3px 3px #999;  
  box-shadow:0px 3px 3px #999;
  color: #23566D;
  text-shadow: 0px 1px 1px #ffffff, 0 -1px #aaaaaa;
}

.profile_one {
  float:left;
  width:450px;
}

.profileImage {
  float:left;
  width:100px;
  height:100px;
  border-top:2px solid #A8BBC3;
  border-left:2px solid #A8BBC3;
  border-right:2px solid #F0F8FB;
  border-bottom:2px solid #F0F8FB;  
}

.profileClass, 
.profileName,
.profileMail {
  display:block;
  margin-left:110px;
}

.profileClass {
  font-size:90%;
}

.profileName {
  font-size:150%;
  font-weight:bold;
}
.profileMail {
  padding-left:22px;
  background:url(../img/icon_mail.png) center left no-repeat;
}

.address {
  margin-top:10px;
  margin-right:20px;
  padding:10px 0 10px 0;
  border-top:1px solid #EEEEEE;
  -moz-box-shadow:0px -1px 0px #A8BBC3;
  -webkit-box-shadow:0px -1px 0px #A8BBC3;  
  box-shadow:0px -1px 0px #A8BBC3;
}

.address ul li {
  height:25px;
}

.address ul li span,
.address ul li a {
  vertical-align:middle;
}

.address ul li span {
  margin-right:10px;
}

.icon_twitter {
  padding-left:25px;
  background:url(../img/icon_twitter.png) center left no-repeat;
}
.icon_hatena {
  padding-left:25px;
  background:url(../img/icon_hatena.png) center left no-repeat;
}
.icon_facebook {
  padding-left:25px;
  background:url(../img/icon_facebook.png) center left no-repeat;
}
.icon_quora {
  padding-left:25px;
  background:url(../img/icon_quora.png) center left no-repeat;
}
.icon_github {
  padding-left:25px;
  background:url(../img/icon_github.png) center left no-repeat;
}

.products {
  margin-top:40px;
}
.products h2 {
  margin-bottom:20px;
  font-size:150%;
  font-weight:bold;
  color:#877A67;
  text-shadow: 0px 1px 1px #ffffff, 0 -1px #aaaaaa;
  border-bottom:1px dashed #716A4B;
}

.productDetail{
  padding:0 20px;
}
.productDetail h3 {
  font-weight:bold;
  font-size:120%;
  color:#465A69;
}
.productText {
  margin-top:10px;
  line-height:1.4em;
  width:450px;
  color:#333333;
}

a.appStoreDL {
  margin-top:10px;
  display:block;
  width:140px;
  height:48px;
  background:url(../img/appStore.png) 0 0 no-repeat;
}

.mocoTime > .productIcon {
  display:inline-block;
  width:57px;
  height:57px;
  background:url(../img/icon_mocoTime.png) 0 0 no-repeat;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  -moz-box-shadow:0px 1px 3px #666;
  -webkit-box-shadow:0px 3px 3px #999;  
  box-shadow:0px 3px 3px #999;
}
.mocoTime > h3 {
  display:inline-block;
  margin-left:10px;
  vertical-align:top;
}

.mocoTime > iframe {
  padding:8px;
  background-color:#DED6CA;
  border-top:2px solid #CDC7BD;
  border-left:2px solid #CDC7BD;
  border-right:1px solid #D6CFC3;
  border-bottom:1px solid #D6CFC3;  
  -moz-border-radius:6px;
  -web-border-radius:6px;
  border-radius:6px;
}